a {
    color: black;
    margin: 25px;
    text-decoration: none;
    background-color: transparent;
}

h1 {
    color: black;
    margin: 10px;
    text-decoration: none;
    background-color: transparent;
}